<footer class="bd-footer text-muted">
  <div class="container-fluid p-3 p-md-5">
    <ul class="bd-footer-links">
      <li><a href="{{ site.repo }}">깃허브</a></li>
      <li><a href="https://twitter.com/getbootstrap">트위터</a></li>
      <li><a href="{{ site.baseurl }}/docs/{{ site.docs_version }}/examples/">예제</a></li>
      <li><a href="{{ site.baseurl }}/docs/{{ site.docs_version }}/about/overview/">소개</a></li>
    </ul>
    <p><a href="https://twitter.com/mdo" target="_blank" rel="noopener">@mdo</a> 와 <a href="https://twitter.com/fat" target="_blank" rel="noopener">@fat</a> 에 의해 세상의 모든 사랑을 담아 디자인되고 만들어졌습니다. <a href="https://github.com/twbs/bootstrap/graphs/contributors">기여자</a> 의 도움과 함께 <a href="https://github.com/orgs/twbs/people">핵심 팀</a> 에 의해 유지보수됩니다.</p>
    <p>현재 v{{ site.current_version }}. 코드는 <a href="https://github.com/twbs/bootstrap/blob/master/LICENSE" target="_blank" rel="license noopener">MIT</a>, 설명서는 <a href="https://creativecommons.org/licenses/by/3.0/" target="_blank" rel="license noopener">CC BY 3.0</a> 라이센스입니다.</p>
  </div>
</footer>
